*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 250px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    text-align: center;
}

header h1{   
    padding: 30px;
    font-size: 45pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p{
    font-size: 25pt;
    font-style: italic; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../img/fondo.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;        
} 

main h2{
    margin: 15px;
    text-align: center;
    color: #3A5683;
}

main h3{
    margin: 15px;
    text-align: center;
    font-style: italic;
    color: #3A5683;
}

main p{
    margin: 15px;
    color: #3A5683;
    font-weight: 200;
}

main ul {
    margin: 60px;
    color: #3A5683;
    font-weight: 200;
}

/* MENU PRINCIPAL */
.menu-horizontal ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#85B041;
}

.menu-horizontal li {
    display: inline;
    float:left;
    border-right: 1px solid #bbb;
}

.menu-horizontal  li:last-child {
    border-right: none;
}

.menu-horizontal li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-horizontal li a:hover {
    background-color: #E0F8FF;
}

.menu-horizontal a.active {
    background-color: #639A88;
    color: white;
}

/* FIN MENU PRINCIPAL */

/* RRSS */

.rrss ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85B041;
}

.rrss li {
    display: inline;
    float:right;
}

.rrss  li:last-child {
    border-right: none;
}

.rrss li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.rrss li a img{
    width:25px;
}

/* FIN RRSS */


.quienesSomosCaja{
    background-color: rgb(233, 233, 252);
    overflow: hide;
    padding: 15px;
    margin: 50px; 
    border: 1px solid rgb(0, 0, 0);
}

.quienesSomosCaja img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.aventurasCaja{
    background-color: rgb(233, 233, 252);
    overflow: hide;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    margin: 20px; 
    border: 1px solid rgb(0, 0, 0);
}

.aventurasCaja img{
    width: 250px;
    float: left;
    margin: 15px;
}

.contactanosCaja{
    background-color: rgb(233, 233, 252);
    overflow: hide;
    vertical-align: top;
    padding: 15px;
    margin: 20px; 
    border: 1px solid rgb(0, 0, 0);
}

.contactanosCaja input[type=text],input[type=email],textarea  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.contactanosCaja input[type=submit] {
    background-color: #85B041;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.contactanosCaja input[type=submit]:hover {
    background-color: #45a049;
}